



<div class="container">
    {{> header}}
    {{!-- Button --}}
    <div class="row my-4  p-4 my-5 ">
        {{!-- Go to Add --}}
        <div class="col-auto">
            <a class="btn btn-dark" href="/api/product_add"><i class="fa-solid fa-plus"></i> Add Product</a>
        </div>

    </div>

    {{!-- Table --}}
    {{> table_product}}

</div>